$font-stack: Arial, Helvetica, sans-serif
$primary-color: #000000
$good-color: #00b100
$error-color: #ca0000
$result-separation: 10px

* 
  box-sizing: border-box

html, body
  margin: 0
  padding: 0

.App
  height: 100vh
  padding: 1rem
  font-family: $font-stack

.Header
  color: $primary-color
  text-align: center
  margin: 1em

.Wrapper
  justify-content: center
  display: flex
  flex-direction: row
  align-items: stretch

.PersonList, .ResultList
  flex: 1
  padding: 1em

.PersonList
  text-align: right

.ResultList
  display: flex
  flex-direction: column

.Result
  margin-bottom: $result-separation

.Person
  margin-bottom: 1em

.PersonInput
  color: $primary-color
  font-weight: bold

.InvalidPaymentInput
  color: $error-color

.ValidPaymentInput
  color: $good-color

input, button
  font-size: 1em

input:placeholder-shown
  color: $primary-color

.CopyButton
  margin-bottom: $result-separation 
