$font-stack: Arial, Helvetica, sans-serif
$primary-color: #000000
$good-color: #00b100
$error-color: #ca0000
$result-separation: 10px

* 
  box-sizing: border-box

html, body
  margin: 0
  padding: 0

.App
  display: flex
  flex-direction: column
  font-family: $font-stack
  height: 100vh

.Header
  color: $primary-color
  flex: 1 1 auto
  margin: 1em
  text-align: center

.Wrapper
  align-items: stretch
  display: flex
  flex: 1 1 100%
  flex-direction: row
  justify-content: center
  overflow: auto

.PersonPanel, .ResultPanel
  flex: 1

.PersonPanel
  display: flex
  flex-direction: column
  padding-right: 1em
  text-align: right

.AddPersonPanel
  margin-bottom: 1em

.PersonList
  display: flex
  flex-direction: column-reverse
  overflow: auto
  scrollbar-width: none

.Person
  margin-bottom: 1em

.PersonInput
  color: $primary-color
  font-weight: bold

.ValidPaymentInput
  color: $good-color

.InvalidPaymentInput
  color: $error-color

input, button
  font-size: 1em

input:placeholder-shown
  color: $primary-color

.ResultPanel
  display: flex
  flex-direction: column
  padding-left: 1em

.CopyPanel
  flex: 1 1 auto
  margin-bottom: 1em

.ResultList
  flex: 1 1 100%
  overflow: auto
  scrollbar-width: none

.Result
  margin-bottom: $result-separation

.Footer
  flex: 1 1 auto
  padding: 0.8em
  text-align: center